/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
    .footer{
      margin-left: 200px;
    }
  

    h2.content.center {
      font-size: 45px;
      color: #434040;
      margin-top: 20px;
    }
    .sidebar{
      position: fixed;
      max-width: 300px;
      width:20%;
      min-width:155px;
      height: 100%;
    }

    .sidebar a{
      text-align: left;
    }

    /*.sidebar{
      display: flex;
    }*/

    .sidebar li:first-child{
      display: none;
    }

    .sidebar li{
      display: block;
      flex: 1 1 100%;
    }
    .sidebar img{
      display: block;
      padding: 10px 0 0 25px;
    }
    div.content{
      margin-left: 155px;
      }
      .headerimage{
        display: inline-block;
      }

      .sitelogo{
        display: none;
      }

      h1.vis_small{
        display: none;
      }

     img.c_logo{
        display: block;
      }
      h1.text_title{
        display: inline-block;
        margin-bottom: 10px;
      }

      h3{
        /* margin-left: 70px; */
        text-align: center;
      }

      .cards{
        align-items: center;
        justify-content: center;
      }

      .card{
        max-width: 440px;
      }

      /* .h1.vis_small.text_title{
        display: none;
      } */

      
      /* .cards{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        padding: 10px;
      }
      
      section.card{
        display: flex;
        flex-direction: row;
        background-color: orange;
        justify-content: space-between;
    
          }
      
      .card:nth-child(odd){
          flex-direction: row-reverse;
        }
      
        section h2{
          margin-top: 0px;
        }
        
        .card div{
          width: 50%;
        }
      .card img{
        padding: 0px;
      } */

      .half{
        float: left;
        width: 48%;
        margin-bottom: 1em;
      }

      

      .trip{
                /* flex-direction: row; */
        border: 2px solid #434040;
        max-width: 325px;
      }

      .part2{
        max-width: 310px;
      }

     
      .footer2{
        flex-direction: row;
      }

      

  @media only screen and (min-width: 785px) { 
    div.content{
      margin-left: 20%;
      margin-right:10%;
      min-width:650px;
      }
  }
}