body {
  font-size: 18px;
  line-height: 1.5;
  /*font-family: "Times New Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  font-family: "IBM Plex Serif", serif;
}

header,
main,
footer {
  margin: 1.25px auto;
  max-width: 760px;
 }

 h1 {
   font-size: 1.5rem;
   margin: 0.15rem;
 }

 h2 {
   font-size: 1rem;
 }
#headerimage {
  top: 5px;
  margin: 10px;
  box-shadow: 10px 10px 5px grey;
  border-radius: 15px;
}

header,
footer {
  background-color: mediumaquamarine;
  color: #fff;
  text-align: center;
}
header {
  padding: 3px;
}

footer {
  padding: 10px;
}

hr {
  color: black;
}

footer a:visited {
  color: yellow;
}
