body{
    font-size: 20px;
    font-family: "IBM Plex Serif", serif;
}

main{
    max-width: 767px;
    margin 0 auto;
}

h2{color: black;
}
main{
    display: grid;
    grid-template-columns: 1 fr;
    font-size: 0.8rem;
}

main section{
    margin: 0.5 rem;
    border: 5 px solid grey;
    padding: 0 1rem;
    background-color: pink;
    text-align: center;
}
/* this part erases the second link and image*/

section:nth-child(2){
        margin: 0.5rem;
}
.columimage {
    box-shadow: 0 0 30 px #333;
}
 
/*Tablet views *******************************/
@media only screen and (min-width: 37.5 em) {
    main {
        grid-template-columns: 1 fr 1 fr;
    }
    section:nth-child(2) {
        display: block;
    }
    section:nth-child(3) {
        grid-column: span 2;
    }
    main picture {
        display: block;
}
main section picture img{
    width: 100%;
    height: auto;
    border: 1 px solid #bbb;
}}

/*Desktop views**************/
@media only screen and (min-width: 60 em) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
        }
        section:nth-child(3) {
            grid-column: span 1;
                    }
}
