@media only screen and (min-width: 695px) {
	header {
		justify-content: center;
	}

	.header_motto {
		font-size: 16pt
    }
    
    .navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	div.ggrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	
	}
	.mapImage{
		display: flex;
	}
}