@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Crete+Round|Francois+One|Lato&display=swap");

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.1em;
} */

/* header {
  font-family: "Bree Serif", serif;
  background-color: #002447;
  font-family: "Bree Serif", serif;
  color: white;
} */

/* header p {
  text-align: center;
  margin: 0;
  font-family: "Lato", sans-serif;
} */

/* main {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  padding: 2em;
} */

main p {
    padding: .5em;
}
main,
footer {
  margin: auto;
  font-size: 16pt;
  padding: 0.5em;
}
/* 
.logo {
  top: 45px;
  width: 100px;
  position: absolute;
} */

/* main {
  background-color: #f7f7f7;
} */

body {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Lato", sans-serif;
}

/* h2,
h3,
nav {
  font-family: "Bree Serif", serif;
  color: #002447;
} */
h1 {
  text-align: center;
  margin: 0;
  font-size: 30pt;
}
.navigation{
    list-style: none;
    text-align: center;
    padding: 0;
}
/*error was space between li and first child*/
.navigation li: first-child { 
    display: block;
}

.navigation li {
    display: none;
}

/* nav ul {
  background-color: #002447;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

/* nav a {
  display: block;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 16pt;
  font-family: "Bree, Serif";
  color: #ffa500;
} */

/* nav ul li.active a {
    background-color: #19180a;
    color: #ffa500

} */
nav a:hover {
  background-color: #53d3d1;
  color: #19180a;
}

footer {
  background-color: #002447;
  text-align: center;
  padding: 10px;
  color: white;
}

footer a:visited {
  color: orange;
}

.responsive li {
	display: block;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}