@media only screen and (min-width: 980px) {
	.title {
		font-size: 36pt;
	}

	.header_motto {
		font-size: 20pt;
	}

	.navigation {
		display: flex;
		max-width: 960px;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
/*outside flex*/
	.cards{
		display: flex;
		flex-direction: row;
		justify-content:space-around;
		flex-wrap:wrap;
		max-width:80%;
		margin:auto;
		background-color: #002447;
		border: 2px solid #f7f7f;
		padding: 10px;
	}
	.card:nth-child(odd){
        flex-direction: column;
	}
  /*inside flex*/
  	.card{
		display:flex;
		flex-direction: column;
		flex-basis: 250px;
		min-width: 250px;
		flex-wrap: wrap;
		text-align: center;
		/* align-items: flex-end; */
		}

	.card p{
		margin: 2px;
		
	}
	.card imageDiv{
		border: 5px solid white;
	}
	
}