/* Media Query for medium + screens */
@media only screen and (min-width: 553px) {
	header {
		justify-content: center;
	}

	.header_motto {
		font-size: 16pt
	}

	
	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.contact {
		flex: 1 1 100%;
	  }

	.contact img{
		display: flex;
	  }

	  main{
		background-color: #002447;
	}
	.links ul{
		list-style-type: none;
	}

	.links{
		background-color: #f7f7f7;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows; auto;
		
	}
	  	/* .artimage{
		padding: .15px;
		float: right;
		max-width: 300px;
	} */
/*container*/
	.cards{
		display: flex;
		flex-direction: column;
		max-width: 600px;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
		padding: 10px;
	}
	
	.card{
		display: flex;
		flex-direction: row;
		background-color: orange;
		justify-content: space-between;
			}
	.card:nth-child(odd){
			flex-direction: row-reverse;
		}
	
		section h2{
			margin-top: 0px;
		}
	
	.mapImage{
		overflow: hidden;
		width:100%;
		object-fit: cover;
	  }
	/* .smallDiss{
		display:initial;
	  } */
}