/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	header {
		justify-content: center;
	}

	.header_motto {
		font-size: 16pt
	}

	
	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.contact {
		flex: 1 1 100%;
	  }

	.contact img{
		display: flex;
	  }

	  	/* .artimage{
		padding: .15px;
		float: right;
		max-width: 300px;
	} */

	.cards{
		flex-direction: column;
	}
	.card{
		flex-direction: row;
	}

	/* .card:nth-child(odd){
        flex-direction: row-reverse;
	}
	 */
	.mapImage{
		overflow: hidden;
		width:100%;
		object-fit: cover;
	  }
	/* .smallDiss{
		display:initial;
	  } */
}