* {
  box-sizing: border-box;
}
/*banner at the top for Friday*/
#announce {
  margin: 0;
  text-align: left;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  padding: 5px;
  color: white;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2e4b68+0,2e4b68+32,002447+74,002447+74,002447+100 */
  background: #2e4b68;
  /* Old browsers */
  background: -moz-linear-gradient(top,
      #2e4b68 0%,
      #2e4b68 32%,
      #002447 74%,
      #002447 74%,
      #002447 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      #2e4b68 0%,
      #2e4b68 32%,
      #002447 74%,
      #002447 74%,
      #002447 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #2e4b68 0%,
      #2e4b68 32%,
      #002447 74%,
      #002447 74%,
      #002447 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e4b68', endColorstr='#002447', GradientType=0);
  /* IE6-9 */
}
/*End banner css*/

body {
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: "Bree Serif", serif;
  background-color: #002447;
  color: white;
  padding-bottom: 5px;
}

header div {
  padding-right: 40px;
}

.townintro {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  padding: 0em;
}

.wupdate {
  position: absolute;
  top: 25%;
  left: 30px;
  background: radial-gradient(rgb(248, 235, 117), #ffa500);
  border: 1px solid #000;
  padding: 0.1rem;
  box-shadow: 0 0 30px rgb(33, 33, 37);
  opacity: 0.8;
  font-size: 12pt;
  line-height: 0.5;
  color: black;
}

.header_motto {
  text-align: center;
  display: block;
  padding: 10px;
  font-family: "Lato", sans-serif;
}

.logo {
  width: 100px;
  height: 100px;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 30pt;
}

main {
  margin: 0 auto;
  max-width: 960px;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  padding: 1em;
  background-color: #f7f7f7;
  width: 100%;
}

/*-----------------form-------------*/

main{
  max-width: 400px;
}
form fieldset{
  margin: 2px 0;
  border: 2px solid #173757;
  border-radius: 10px;
  padding: 10px 2%;
}

form legend{
  color: #173757;
  margin: 0 1px;
  padding: 0 1px;
  font-size: 24px;
}

form label.inputTitle, label.sinfo{
  display: block;
  padding-top: 1rem;
}

form label.inputTitle input:not([type='range']){
  background-color: lightgray;
  border: none;
  border-bottom: 3px solid #ffa500;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 2px;
  padding-top:4px;
  display:block;
  font-size: 16px;
  padding: .75rem;
  width: 100%;
  max-width: 20rem;
  }

form label.inputTitle input:not([type='range']):invalid{
  border-bottom: 3px solid red;
}

#region{
  padding: .57rem ;
  margin: 0px;
  margin-top: 5px;
}

.severityTitle{
  display:block;
  margin-bottom:8px;
}


#severityvalue{
  font-size:28px;
}

.comments{
  width:100%;
  height:200px;
}

.selection{
  font-size: 20px;
  padding: .68rem;
}
.buttons{
  font-size: 28px;
  padding: .75rem;
  color:#ffa500;
  border-color: 2px #002447;
  background-color: #2e4b68;
  border-radius: 10px;
  }



.center {
  text-align: center;
}

h2,
h3 {
  font-family: "Bree Serif", serif;
  color: #002447;
}
/*start nav here*/

nav {
  background-color: #173757;
}

.navigation {
  background-color: #173757;
  margin: 0 auto;
  max-width: 960px;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-family: "Bree Serif", serif;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  font-size: 16pt;
  font-family: "Bree, Serif";
  color: #ffa500;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
 }

.navigation a:hover {
  background-color: #53d3d1;
  color: #19180a;
}

nav ul li.active a {
  background-color: #2e4b68;
  color: #ffa500;
}
/*end nav here*/

 .townImage{
  overflow: hidden;
  width:100%;
  /* height:300px; */
  object-fit: cover;
} 
/* .townImageParent{
  margin: 0 2%;
  overflow: hidden;
} */
/* 
.townImageImage{
  width:96%;
} */

.contactTitle{
  width:100%;
  text-align:center;
}

/*start flex css here*/
.flex-container {
  margin: 0 auto;
  max-width: 850px;
  display: flex;
  flex-direction: row;
  font-family: "Lato", sans-serif;
}

.col {
  flex: 1 1 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.flex div img {
  border-radius: 100px;
  padding: 5px;
}

.flex-container div:last-child {
  border-right: 1px solid black;
}

.dow {
  display: block;
  padding: 5px;
  background-color: #173757;
  color: #ffa500;
}

.data {
  border-top: 1px solid black;
  display: block;
  padding: 0 5px 5px;
}

.art {
  margin: 0 auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 15px;
}

.smallDiss{
  display:none;
}

/*end css flex here*/

.artimage {
  display: block;
  width: 90%;
  margin: 15px;
  border: 1px solid #000;
  box-shadow: 0 0 20px rgb(33, 33, 37);
  
}


/*start contact flex here*/
.flex-contact {
  margin: 0 auto;
  max-width: 960px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
}


.column{
  float: left;
}
.contact {
  text-align: left;
  padding-left: 7px;
  padding-top: 0;
}

.mapImage{
  display: none;
}


/*end contact flex here*/

footer {
  background-color: #002447;
  text-align: center;
  padding: 10px;
  color: white;
  margin: auto;
  font-size: 16pt;
  width: 100%;
}

.responsive li {
  display: block;
}

