@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu";
max-width: 325px;
}

body{
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 2px;
  box-shadow: 6px 6px 15px #628ca6;
  background-color: #e7f0ed;
  max-width: 325px;
  font-family: 'Ubuntu';
  margin: 0 auto;
 }

table thead tr td{
  text-align: center;
  background-color: #7fb9c2;
}

th {
  font-weight: bold;
  color: white;
  background-color: #628ca6;
  border: 1px solid lightgray;
  padding: 5px;
}
tr td{
    border: 1px solid lightgray;
    padding: 5px;
    
}
/* tr:nth-child(even) {
  background-color: #e7f0ed;
} */
tr:nth-child(odd) {
  background-color: #e7ffed; } 

tfoot tr td {
  background-color: #7fb9c2;
}
.sg {
  color: white;
  background-color: #628ca6;
}