@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Crete+Round|Francois+One|Lato&display=swap");

header {
  font-family: "Bree Serif", serif;
  background-color: #002447;
}

main,
footer {
  max-width: 960px;
  margin: auto;
  font-size: 16pt;
  padding: 0.5em;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.headerExamples {
  padding: 0px;
  background-color: #002447;
}

.logo {
  top: 45px;
  width: 100px;
  position: absolute;
}
main {
  background-color: #f7f7f7;
}

body {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Bree Serif", serif;
  color: white;
}
h2,
h3,
nav {
  font-family: "Bree Serif", serif;
  color: #002447;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 30pt;
}

nav ul {
  background-color: #002447;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
  display: block;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 16pt;
  font-family: "Bree, Serif";
  color: #ffa500;
}

nav a:hover {
  background-color: #53d3d1;
  color: #19180a;
}
.logo1 {
  width: 200px;
}

.peoplePics {
  width: 90px;
}
.paddinglist li {
  padding: 5px;
}

.colors {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
}

.fontTable,
.fontTable td,
.fontTable th {
  border: 1px solid black;
  border-collapse: collapse;
}
.fontTable tr > * {
  padding: 0.25em;
}

.header-example {
  text-align: center;
  margin: 0;
  font-size: 30pt;
}

footer {
  background-color: #002447;
  text-align: center;
  padding: 10px;
  color: white;
}

footer a:visited {
  color: orange;
}
